DMOHosting/Service References/ServiceDMO/DMOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DMOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9402/ServiceDMO.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9402/ServiceDMO.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9402/ServiceDMO.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf_19Aralik2017DMOLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDMOService_GetProductsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsList" />
  </wsdl:message>
  <wsdl:message name="IDMOService_GetProductsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsListResponse" />
  </wsdl:message>
  <wsdl:message name="IDMOService_GetOneProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneProduct" />
  </wsdl:message>
  <wsdl:message name="IDMOService_GetOneProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDMOService_ProductUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdate" />
  </wsdl:message>
  <wsdl:message name="IDMOService_ProductUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDMOService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDMOService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDMOService_GetProductsListBySupplierId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsListBySupplierId" />
  </wsdl:message>
  <wsdl:message name="IDMOService_GetProductsListBySupplierId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsListBySupplierIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDMOService">
    <wsdl:operation name="GetProductsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMOService/GetProductsList" message="tns:IDMOService_GetProductsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMOService/GetProductsListResponse" message="tns:IDMOService_GetProductsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMOService/GetOneProduct" message="tns:IDMOService_GetOneProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMOService/GetOneProductResponse" message="tns:IDMOService_GetOneProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMOService/ProductUpdate" message="tns:IDMOService_ProductUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMOService/ProductUpdateResponse" message="tns:IDMOService_ProductUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMOService/Login" message="tns:IDMOService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMOService/LoginResponse" message="tns:IDMOService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsListBySupplierId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMOService/GetProductsListBySupplierId" message="tns:IDMOService_GetProductsListBySupplierId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMOService/GetProductsListBySupplierIdResponse" message="tns:IDMOService_GetProductsListBySupplierId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDMOService" type="tns:IDMOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductsList">
      <soap:operation soapAction="http://tempuri.org/IDMOService/GetProductsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneProduct">
      <soap:operation soapAction="http://tempuri.org/IDMOService/GetOneProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <soap:operation soapAction="http://tempuri.org/IDMOService/ProductUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDMOService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsListBySupplierId">
      <soap:operation soapAction="http://tempuri.org/IDMOService/GetProductsListBySupplierId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DMOService">
    <wsdl:port name="BasicHttpBinding_IDMOService" binding="tns:BasicHttpBinding_IDMOService">
      <soap:address location="http://localhost:9402/ServiceDMO.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>